* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/*** Navbar */
.nav {
  width: 100vw;
  height: 70px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.10);
}

.nav img{
  width: 82px;
  margin: 22px 0 22px 30px;
}


/*** HERO section */
.hero-section {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.hero-section img{
  max-width: 800px;
  align-self: center;
}

.hero-text {
  margin-left: 40px;
}

.hero-text h1 {
  font-size: 36px;
  line-height: 110%;
  margin-top: 40px;
  margin-bottom: 15px;
}

.hero-text p{
  margin-top: 0;
}
